<div class="auth-wrapper">
  <div class="auth-box">
    <div class="auth-left">
      <img src="assets/images/Fingerprint-bro.svg" alt="illustration" class="illustration" />
    </div>
    <div class="auth-right">
      <h2 class="title">Welcome Back</h2>
      <p class="subtitle">Login to your SIEM portal account</p>
      <form [formGroup]="loginForm">
        <div>
          <app-input
            label="Email"
            name="email"
            type="email"
            placeholder="Enter your email"
            [required]="true"
            formControlName="email"
            [hasError]="(loginForm.get('email')?.invalid && loginForm.get('email')?.touched) ?? false"
          />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
          </div>
        </div>

        <div>
          <app-input
            label="Password"
            name="password"
            type="password"
            placeholder="Enter your password"
            [required]="true"
            formControlName="password"
            [hasError]="(loginForm.get('password')?.invalid && loginForm.get('password')?.touched) ?? false"
          />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</small>
          </div>
        </div>

        <div class="text-center">
          <app-button
            label="Login"
            type="button"
            class="btn-primary"
            size="md"
            [disabled]="!loginForm.valid"
            (clickEvent)="onLogin()"
          ></app-button>
        </div>
      </form>


      <p class="switch-text">
        Don’t have an account? <a routerLink="/user/register">Register</a>
      </p>
    </div>
  </div>
</div>
